@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/Style.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/datatables.bootstrap.min.css" rel="stylesheet" />
    @* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap.min.css" integrity="sha512-BMbq2It2D3J17/C7aRklzOODG1IQ3+MHw3ifzBHMBwGO/0yUqYmsStgBjI0z5EYlaDEFnvYV7gNYdD3vFLRKsA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> *@
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark">

        <div class="container-fluid">
            <a class="navbar-brand text-light" href="#">Boolean Student</a>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item dropdown">
                        <a class="nav-link text-light dropdown-toggle" data-bs-toggle="dropdown">
                            Students
                        </a>
                        <ul class="dropdown-menu">
                            <li> <a class="nav-link text-black  dropdown-item" aria-current="page" asp-action="Home" asp-controller="Student">Home</a></li>
                            <li>  <a class="nav-link text-black dropdown-item" aria-current="page" asp-action="AddNewStudent" asp-controller="Student">Add New Student</a></li>
                            <li> <a class="nav-link text-black dropdown-item" aria-current="page" asp-action="StudentList" asp-controller="Student">Student Tables</a></li>

                        </ul>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-light" asp-action="Examines" asp-controller="Exam">
                            Examines
                        </a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-warning" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container-main" style="height:100vh">
        @RenderBody()
    </div>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center" bis_skin_checked="1">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                Boolean Teach
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Company, Inc</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
        </ul>
    </footer>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @* <script src="~/lib/datatables.net/datatables.min.js"></script> *@
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
    @await RenderSectionAsync("scripts", false)
</body>
</html>
